In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import requests

ACCESS API

In [9]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

r = requests.get(url)
json = r.json()

In [3]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [4]:
pd.options.display.max_columns = None

In [73]:
elements_df = pd.DataFrame(json['elements'])

elements_df.columns.sort_values()

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'creativity', 'creativity_rank', 'creativity_rank_type',
       'direct_freekicks_order', 'direct_freekicks_text', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'id', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'now_cost', 'own_goals', 'penalties_missed',
       'penalties_order', 'penalties_saved', 'penalties_text', 'photo',
       'points_per_game', 'red_cards', 'saves', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'threat', 'threat_rank', 'threat_rank_type',
       'total_points', 'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards'],
      dtype='object')

In [30]:
teams_df = pd.DataFrame(json['teams'])
teams_df

,code,draw,form,id,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,4,None,False,0,1190,1250,1110,1140,1110,1170,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,3,None,False,0,1130,1160,1110,1120,1130,1160,2
2,94,0,None,3,0,Brentford,0,0,0,BRE,3,None,False,0,1070,1080,1130,1160,1100,1150,130
3,36,0,None,4,0,Brighton,0,0,0,BHA,3,None,False,0,1140,1140,1160,1190,1090,1130,131
4,90,0,None,5,0,Burnley,0,0,0,BUR,2,None,False,0,1040,1050,1040,1070,1060,1100,43
5,8,0,None,6,0,Chelsea,0,0,0,CHE,5,None,False,0,1340,1350,1330,1350,1340,1330,4
6,31,0,None,7,0,Crystal Palace,0,0,0,CRY,3,None,False,0,1080,1110,1110,1160,1110,1140,6
7,11,0,None,8,0,Everton,0,0,0,EVE,3,None,False,0,1140,1190,1120,1140,1150,1210,7
8,13,0,None,9,0,Leicester,0,0,0,LEI,3,None,False,0,1170,1190,1100,1130,1120,1160,26
9,2,0,None,10,0,Leeds,0,0,0,LEE,3,None,False,0,1080,1100,1060,1070,1100,1130,9
10,14,0,None,11,0,Liverpool,0,0,0,LIV,5,None,False,0,1340,1350,1290,1330,1350,1360,10
11,43,0,None,12,0,Man City,0,0,0,MCI,5,None,False,0,1340,1360,1340,1350,1340,1350,11
12,1,0,None,13,0,Man Utd,0,0,0,MUN,4,None,False,0,1260,1300,1160,1190,1250,1310,12
13,4,0,None,14,0,Newcastle,0,0,0,NEW,2,None,False,0,1040,1050,1030,1040,1100,1140,23
14,45,0,None,15,0,Norwich,0,0,0,NOR,2,None,False,0,1010,1030,1000,1020,1000,1040,14
15,20,0,None,16,0,Southampton,0,0,0,SOU,3,None,False,0,1070,1090,1090,1130,1090,1100,20
16,6,0,None,17,0,Spurs,0,0,0,TOT,4,None,False,0,1190,1210,1110,1130,1110,1160,21
17,57,0,None,18,0,Watford,0,0,0,WAT,2,None,False,0,1050,1070,1040,1060,1060,1060,33
18,21,0,None,19,0,West Ham,0,0,0,WHU,4,None,False,0,1240,1250,1130,1150,1260,1280,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,3,None,False,0,1110,1110,1120,1140,1090,1120,38

***Creating dictionary for code to team conversion***

In [33]:
conv_to_code_dic = {}

#Creates dictionary to convert code into
for item in teams_df.index:
  id = teams_df.iloc[item,3]
  short_name = teams_df.iloc[item,5]
  conv_to_code_dic[id] = short_name

def conv_to_code(item):
  try:
    return conv_to_code_dic[item]
  except KeyError:
    pass

***Accessing fixtures and past history of teams using classes***

In [98]:
new_urls = {}

for x  in set(elements_df['team']):
    team = conv_to_code(x)
    new_urls[team] = f'https://fantasy.premierleague.com/api/element-summary/{x}/'

#Function

class fix_ticker():

  def __init__(self,team,new_urls):
    """Initializes items"""
    self.team = team
    self.new_urls = new_urls
    self.url = self.new_urls[self.team.title()]
    self.r_2 = requests.get(self.url)
    self.json_2 = self.r_2.json()
    

  def get_fix(self):
    """Obtains the future fixtures and past scores of each team based on their url"""
    
    player_fixtures_df = pd.DataFrame(self.json_2['fixtures'])  
    player_fixtures_df['away_team'] = player_fixtures_df['team_a'].map(conv_to_code_dic)
    player_fixtures_df['home_team'] = player_fixtures_df['team_h'].map(conv_to_code_dic)
    player_fix_df = player_fixtures_df[['event','home_team','away_team']]
    return player_fix_df

  def get_past_scores(self):
    """Obtains the past scoreline of each team"""
    history_df = pd.DataFrame(self.json_2['history'])
    history_df['opponent'] = history_df['opponent_team'].map(conv_to_code)
    history_trim_df = history_df[['round', 'was_home', 'team_h_score', 'team_a_score', 'opponent']]
    return history_trim_df

In [101]:
new_urls

{'Arsenal': 'https://fantasy.premierleague.com/api/element-summary/1/',
 'Aston Villa': 'https://fantasy.premierleague.com/api/element-summary/2/',
 'Brentford': 'https://fantasy.premierleague.com/api/element-summary/3/',
 'Brighton': 'https://fantasy.premierleague.com/api/element-summary/4/',
 'Burnley': 'https://fantasy.premierleague.com/api/element-summary/5/',
 'Chelsea': 'https://fantasy.premierleague.com/api/element-summary/6/',
 'Crystal Palace': 'https://fantasy.premierleague.com/api/element-summary/7/',
 'Everton': 'https://fantasy.premierleague.com/api/element-summary/8/',
 'Leeds': 'https://fantasy.premierleague.com/api/element-summary/10/',
 'Leicester': 'https://fantasy.premierleague.com/api/element-summary/9/',
 'Liverpool': 'https://fantasy.premierleague.com/api/element-summary/11/',
 'Man City': 'https://fantasy.premierleague.com/api/element-summary/12/',
 'Man Utd': 'https://fantasy.premierleague.com/api/element-summary/13/',
 'Newcastle': 'https://fantasy.premierleague.com/api/element-summary/14/',
 'Norwich': 'https://fantasy.premierleague.com/api/element-summary/15/',
 'Southampton': 'https://fantasy.premierleague.com/api/element-summary/16/',
 'Spurs': 'https://fantasy.premierleague.com/api/element-summary/17/',
 'Watford': 'https://fantasy.premierleague.com/api/element-summary/18/',
 'West Ham': 'https://fantasy.premierleague.com/api/element-summary/19/',
 'Wolves': 'https://fantasy.premierleague.com/api/element-summary/20/'}

In [105]:
burnley_fix = fix_ticker('chelsea',new_urls)
burnley_fix.get_fix()

    event       home_team  away_team
0    24.0          Wolves    Arsenal
1    26.0         Arsenal  Brentford
2    28.0         Watford    Arsenal
3    29.0         Arsenal  Leicester
4    30.0     Aston Villa    Arsenal
5    31.0  Crystal Palace    Arsenal
6    32.0         Arsenal   Brighton
7    33.0     Southampton    Arsenal
8    34.0         Arsenal    Man Utd
9    35.0        West Ham    Arsenal
10   36.0         Arsenal      Leeds
11   37.0       Newcastle    Arsenal
12   38.0         Arsenal    Everton
13    NaN         Arsenal  Liverpool
14    NaN         Arsenal     Wolves
15    NaN           Spurs    Arsenal
16    NaN         Chelsea    Arsenal

In [100]:
burnley_fix.get_past_scores()

    round  was_home  team_h_score  team_a_score        opponent
0       1     False             2             0       Brentford
1       2      True             0             2         Chelsea
2       3     False             5             0        Man City
3       4      True             1             0         Norwich
4       5     False             0             1         Burnley
5       6      True             3             1           Spurs
6       7     False             0             0        Brighton
7       8      True             2             2  Crystal Palace
8       9      True             3             1     Aston Villa
9      10     False             0             2       Leicester
10     11      True             1             0         Watford
11     12     False             4             0       Liverpool
12     13      True             2             0       Newcastle
13     14     False             3             2         Man Utd
14     15     False             2             1         Everton
15     16      True             3             0     Southampton
16     17      True             2             0        West Ham
17     18     False             1             4           Leeds
18     19     False             0             5         Norwich
19     21      True             1             2        Man City
20     23      True             0             0         Burnley